{% extends 'base.html.twig' %}

{% block main %}
    <h1>{{ 'Rezultatele Cautarii: %query%'|trans({'%query%': query}) }}</h1>
    <p class="clear">
        <span class="alert alert-success">
            {{ 'Query subtitle'|trans }}
        </span>
    </p>
    {% include "listing/render.html.twig" %}
{% endblock %}
