{% extends '@Admin/Dashboard/dashboard.html.twig' %}

{% block main_admin %}

    <h3>Edit classified: {{ classified.title }}</h3>

    {{ form(classifiedForm) }}

    {{ classified.images|view }}

{% endblock %}
