{% extends 'base.html.twig' %}

{% block main %}
    <div class="row">
        <div class="col-sm-12">
            <h1>Cabinete Veterinare din {{ city.name }}</h1>
            <a href="{{ path('vet.list.nonstop', {'slug': city.slug}) }}">Arata doar Cabinetele Veterinare din {{ city.name }} cu program Non Stop</a>
        </div>
    </div>

    {{ vets.items|view('main') }}
{% endblock %}
