{% extends 'base.html.twig' %}

{% block main %}
    <div class="row">
        <div class="col-sm-12">
            <h1>Cabinete Veterinare cu Program Non Stop din {{ city.name }}</h1>
        </div>
    </div>

    {{ vets.items|view('main') }}
{% endblock %}
