<a href="{{ this|url }}" class="infot label label-primary"
   title="{% trans with {'%city%': this.name} %}Vezi si alte anunturi din %city%{% endtrans %}" data-toggle="tooltip" data-placement="top" >
    {{ this.name }}
</a>