

<div class="well">
    <div class="row clearfix">
        <div class="col-md-3">
            <h2>Despre noi</h2>
            <ul>
                <li>
                    <a href="/despre-noi" title="Despre Noi">Despre Noi</a>
                </li>
                <li>
                    <a href="/contact" title="Contact">Contact</a>
                </li>
            </ul>
        </div>
        <div class="col-md-3">
            <h2>Adoptii Caini</h2>
            <ul>
                <li>
                    <a href="/adoptii/caini/bucuresti" title="Adoptii Caini Bucuresti">Adoptii Caini Bucuresti</a>
                </li>
                <li>
                    <a href="/adoptii/caini/iasi" title="Adoptii Caini Iasi">Adoptii Caini Iasi</a>
                </li>
                <li>
                    <a href="/adoptii/caini/cluj" title="Adoptii Caini Cluj">Adoptii Caini Cluj</a>
                </li>
                <li>
                    <a href="/adoptii/caini/prahova" title="Adoptii Caini Ploiesti">Adoptii Caini Ploiesti</a>
                </li>
            </ul>
        </div>
        <div class="col-md-3">
            <h2>Adoptii Pisici</h2>
            <ul>
                <li>
                    <a href="/adoptii/pisici/cluj" title="Adoptii Pisici Cluj">Adoptii Pisici Cluj</a>
                </li>
                <li>
                    <a href="/adoptii/pisici/iasi" title="Adoptii Pisici Iasi">Adoptii Pisici Iasi</a>
                </li>
                <li>
                    <a href="/adoptii/pisici/timis" title="Adoptii Pisici Timisoara">Adoptii Pisici Timisoara</a>
                </li>
                <li>
                    <a href="/adoptii/pisici/brasov" title="Adoptii Pisici Brasov">Adoptii Pisici Brasov</a>
                </li>
            </ul>
        </div>
        <div class="col-md-3">

        </div>
    </div>
</div>
