<title>{{ title is defined ? title : 'Pet adoption website' }}</title>
{% if noIndex is defined and noIndex == true %}
    <meta name="robots" content="noindex, nofollow" />
{% endif %}
{% if app.request.get('page') is defined and app.request.get('page') == 1 %}
    <link rel="canonical" href="{{ app.request.uri }}" />
{% endif %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
<script async src="{{ asset('js/all.min.js') }}"></script>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-P8SWXHT');</script>
<!-- End Google Tag Manager -->
