<div class="row shelter @if(!$showBanner) hidden @endif">
    <a class="close-btn" data-toggle="tooltip" data-placement="top" data-original-title="Ascunde fereastra">
        <i class="fa fa-times"></i>
    </a>
    <div class="col-lg-9 col-sm-12 col-md-9">
        <div class="title">
            Colectare mancare catei si pisici adapostul Ema Shelter
        </div>
        <div class="content">
            <b>In ultima sambata din fiecare luna</b>, Ema Shelter organizeaza o colecta <b>la bariera din fata Parcului Tineretului</b>, intrarea Gheorghe Sincai, in parcare.
            <br />
            <br />
            Incepand cu <b>ora 12 si pana la ora 16</b> acolo va vor astepta Albisoara, masina cateilor,  o dacie papuc carosata si Olimpia si/sau sotul ei, cei care au grija de cei peste 250 de caini din adapost.
            <br />
            <h3>Cum poti sa ajuti?</h3>
            <ul>
                <li>cu mancare bobite si conserve pentru catei si pisici</li>
                <li>castroane pentru catei</li>
                <li>paturici moi si calduroase pentru cateii foarte batrani</li>
                <li>medicamente ca: vitamine, deparazitante interne si externe, Doxiciclina, Dalacin, Calciu lactic</li>
            </ul>
        </div>
        <div class="banner-footer">
            <a href="https://www.facebook.com/Un-c%C4%83%C5%A3el-numit-Dorin%C5%A3%C4%83-1483633211960311/timeline/" target="_blank" class="more-info">Mai multe detalii pe pagina noastra de Facebook</a>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="col-md-3 col-lg-3 hidden-sm hidden-xs">
        <img src="{{ asset('/images/gos.png') }}" alt="Colectare mancare Adapost Ema Shelter" class="content-right"/>
    </div>
</div>
