{% extends 'base.html.twig' %}
{% block main %}

    <div class="breadcrumbs">
        <a href="{{ path('home') }}" title="{% trans %}Adopta un suflet{% endtrans %}">
            {% trans %}Adopta un suflet{% endtrans %}
        </a>
        / {% trans with {'%city%': city.getName} %}Adoptii din %city%{% endtrans %}
    </div>

    <h1>{% trans with {'%city%': city.getName} %}Adoptii Caini din %city% - Adoptii Pisici din %city%{% endtrans %}
        {% if app.request.get('page') %}
            {% trans with {'%page%': app.request.get('page')} %}
            - pagina %page%
            {% endtrans %}
        {% endif %}
    </h1>

    <div class="row">
        {% for type in types.all %}
            <div class="col-sm-4">
                <a href="{{ path('adoptii.caini.city', {'city': city.slug, 'type': type.slug}) }}"
                   class="btn btn-warning form-control">
                    {% trans with {'%city%': city.slug, 'type': type.name} %}Adopt %type% from city %city%{% endtrans %}
                </a>
            </div>
        {% endfor %}
    </div>

    {% include "listing/render.html.twig" %}
{% endblock %}
