{% extends 'base.html.twig' %}
{% block main %}

    <div class="breadcrumbs">
        <a href="{{ path('home') }}" title="{% trans %}Adopta un suflet{% endtrans %}">
            {% trans %}Adopta un suflet{% endtrans %}
        </a>
        /
        <a href="{{ type|url }}" title="{% trans with {'%type%': type.name} %}Adoptii %type%{% endtrans %}">
            {% trans with {'%type%': type.name} %}Adoptii %type%{% endtrans %}
        </a>
        /
        {% trans with {'%type%':type.name } %}Latest ads from category %type%{% endtrans %}
    </div>

    <h1>{% trans with {'%type%':type.name } %}Latest ads from category %type%{% endtrans %}</h1>
    {% include "listing/render.html.twig" %}
{% endblock %}
