Ati adaugat un anunt nou pe site-ul: <a href="{{ path('home') }}">adoptaunsuflet.ro</a>.
<br />
<br />

Titlu anunt: {{ classified.title }}
<br /><br />


{{ user.email }}
{{ user.username }}
<br />
<br />
Va multumim,<br />
Echipa Adopta un Suflet.ro
